<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.dao.DeptDao">

	<select id="get" resultType="com.prostate.base.domain.DeptDO">
		select `id`,`parent_dept_id`,`dept_name`,`dept_number`,`dept_grade`,`dept_inform`,`dept_weight`,`order_weight`,`create_user`,`create_time`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag`
		from base_dept where id = #{value} and del_flag = '0'
	</select>

	<select id="getByNumber" resultType="com.prostate.base.domain.DeptDO">
		select `id`,`parent_dept_id`,`dept_name`,`dept_number`,`dept_grade`,`dept_inform`,`dept_weight`,`order_weight`,`create_user`,`create_time`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag`
		from base_dept where dept_number = #{value} and del_flag = '0'
	</select>

	<select id="getByName" resultType="com.prostate.base.domain.DeptDO">
		select `id`,`parent_dept_id`,`dept_name`,`dept_number`,`dept_grade`,`dept_inform`,`dept_weight`,`order_weight`,`create_user`,`create_time`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag`
		from base_dept where dept_name = #{value} and del_flag = '0'
	</select>


	<select id="list" resultType="com.prostate.base.domain.DeptDO">
		select `id`,`parent_dept_id`,`dept_name`,`dept_number`,`dept_grade`,`dept_inform`,`dept_weight`,`order_weight`,`create_user`,`create_time`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag` from base_dept
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentDeptId != null and parentDeptId != ''"> and parent_dept_id = #{parentDeptId} </if>
		  		  <if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
		  		  <if test="deptNumber != null and deptNumber != ''"> and dept_number = #{deptNumber} </if>
		  		  <if test="deptGrade != null and deptGrade != ''"> and dept_grade = #{deptGrade} </if>
		  		  <if test="deptInform != null and deptInform != ''"> and dept_inform = #{deptInform} </if>
		  		  <if test="deptWeight != null and deptWeight != ''"> and dept_weight = #{deptWeight} </if>
		  		  <if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
		  		  <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
		  		  and del_flag = '0'
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by order_weight
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from base_dept
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="parentDeptId != null and parentDeptId != ''"> and parent_dept_id = #{parentDeptId} </if>
		  		  <if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
		  		  <if test="deptNumber != null and deptNumber != ''"> and dept_number = #{deptNumber} </if>
		  		  <if test="deptGrade != null and deptGrade != ''"> and dept_grade = #{deptGrade} </if>
		  		  <if test="deptInform != null and deptInform != ''"> and dept_inform = #{deptInform} </if>
		  		  <if test="deptWeight != null and deptWeight != ''"> and dept_weight = #{deptWeight} </if>
		  		  <if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
		  		  <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
		  		  and del_flag = '0'
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.prostate.base.domain.DeptDO">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as id from dual
		</selectKey>
		insert into base_dept
		(
			`id`, 
			`parent_dept_id`, 
			`dept_name`, 
			`dept_number`, 
			`dept_grade`, 
			`dept_inform`, 
			`dept_weight`, 
			`order_weight`, 
			`create_user`, 
			`create_time`, 
			`update_user`, 
			`update_time`, 
			`delete_user`, 
			`delete_time`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{parentDeptId}, 
			#{deptName}, 
			#{deptNumber}, 
			#{deptGrade}, 
			#{deptInform}, 
			#{deptWeight}, 
			#{orderWeight}, 
			#{createUser}, 
			#{createTime}, 
			#{updateUser}, 
			#{updateTime}, 
			#{deleteUser}, 
			#{deleteTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.prostate.base.domain.DeptDO">
		update base_dept 
		<set>
			<if test="parentDeptId != null">`parent_dept_id` = #{parentDeptId}, </if>
			<if test="deptName != null">`dept_name` = #{deptName}, </if>
			<if test="deptNumber != null">`dept_number` = #{deptNumber}, </if>
			<if test="deptGrade != null">`dept_grade` = #{deptGrade}, </if>
			<if test="deptInform != null">`dept_inform` = #{deptInform}, </if>
			<if test="deptWeight != null">`dept_weight` = #{deptWeight}, </if>
			<if test="orderWeight != null">`order_weight` = #{orderWeight}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateUser != null">`update_user` = #{updateUser}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleteUser != null">`delete_user` = #{deleteUser}, </if>
			<if test="deleteTime != null">`delete_time` = #{deleteTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from base_dept where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from base_dept where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getTree" resultType="com.prostate.base.domain.DeptDO">
		select `id`,`parent_dept_id`,`dept_name`,dept_number,`dept_grade`,`dept_inform`,`dept_weight`,`order_weight`,`create_user`,`create_time`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag` from base_dept
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentDeptId != null and parentDeptId != ''"> and parent_dept_id = #{parentDeptId} </if>
			<if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
			<if test="deptNumber != null and deptNumber != ''"> and dept_number = #{deptNumber} </if>
			and (dept_grade = '1' or dept_grade = '0')
			<if test="deptInform != null and deptInform != ''"> and dept_inform = #{deptInform} </if>
			<if test="deptWeight != null and deptWeight != ''"> and dept_weight = #{deptWeight} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			and del_flag ='0'
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by order_weight
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
</mapper>