<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.dao.PatientDao">

	<select id="get" resultType="com.prostate.base.domain.PatientDO">
		select `id`,`lable_name`,`create_time`,`create_user` from lable_patient where id = #{value}
	</select>

	<select id="list" resultType="com.prostate.base.domain.PatientDO">
		select `id`,`lable_name`,`create_time`,`create_user` from lable_patient
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="lableName != null and lableName != ''"> and lable_name = #{lableName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from lable_patient
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="lableName != null and lableName != ''"> and lable_name = #{lableName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.prostate.base.domain.PatientDO">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as id from dual
		</selectKey>
		insert into lable_patient

		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="lableName != null">
				lable_name,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="lableName != null">
				#{lableName,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>

		</trim>



	</insert>
	 
	<update id="update" parameterType="com.prostate.base.domain.PatientDO">
		update lable_patient 
		<set>
			<if test="lableName != null">`lable_name` = #{lableName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from lable_patient where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from lable_patient where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>