<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.dao.InquiryDao">

	<select id="get" resultType="com.prostate.base.domain.InquiryDO">
		select `id`,`lable_name`,`create_time`,`create_user` from lable_inquiry where id = #{value}
	</select>

	<select id="list" resultType="com.prostate.base.domain.InquiryDO">
		select `id`,`lable_name`,`create_time`,`create_user` from lable_inquiry
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="lableName != null and lableName != ''"> and lable_name = #{lableName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from lable_inquiry
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="lableName != null and lableName != ''"> and lable_name = #{lableName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.prostate.base.domain.InquiryDO">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as id from dual
		</selectKey>
		insert into lable_inquiry
		(
			`id`, 
			`lable_name`, 
			`create_time`, 
			`create_user`
		)
		values
		(
			#{id}, 
			#{lableName}, 
			#{createTime}, 
			#{createUser}
		)
	</insert>
	 
	<update id="update" parameterType="com.prostate.base.domain.InquiryDO">
		update lable_inquiry 
		<set>
			<if test="lableName != null">`lable_name` = #{lableName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from lable_inquiry where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from lable_inquiry where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>