<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${hospitalDept.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">医院ID：</label>
								<div class="col-sm-8">
									<input id="hospitalId" name="hospitalId" th:value="${hospitalDept.hospitalId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">科室ID：</label>
								<div class="col-sm-8">
									<input id="deptId" name="deptId" th:value="${hospitalDept.deptId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">科室信息简介：</label>
								<div class="col-sm-8">
									<input id="deptInform" name="deptInform" th:value="${hospitalDept.deptInform}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">权重排序用：</label>
								<div class="col-sm-8">
									<input id="deptWeight" name="deptWeight" th:value="${hospitalDept.deptWeight}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">科室激活标记(0/1 已/未)：</label>
								<div class="col-sm-8">
									<input id="activationFlag" name="activationFlag" th:value="${hospitalDept.activationFlag}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-8">
									<input id="orderWeight" name="orderWeight" th:value="${hospitalDept.orderWeight}" class="form-control" type="text">
								</div>
							</div>

																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/base/hospitalDept/edit.js">
	</script>
</body>
</html>
