<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.user.mapper.read.ClickCountDoctorReadMApper">
	
	
	<sql id="Base_Column_List">
			 id AS id,
			 doctor_id AS doctorId,
			 click_status AS clickStatus,
			 create_time AS createTime
	</sql>
	<select id="get" resultType="com.prostate.user.entity.ClickCountDoctorDO">
		select <include refid="Base_Column_List" /> from click_count_doctor where id = #{value}
	</select>

	<select id="list" resultType="com.prostate.user.entity.ClickCountDoctorDO">
		select <include refid="Base_Column_List" /> from click_count_doctor
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="doctorId != null and doctorId != ''"> and doctor_id = #{doctorId} </if>
		  		  <if test="clickStatus != null and clickStatus != ''"> and click_status = #{clickStatus} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from click_count_doctor
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="doctorId != null and doctorId != ''"> and doctor_id = #{doctorId} </if>
		  		  <if test="clickStatus != null and clickStatus != ''"> and click_status = #{clickStatus} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>

<!--根据医生id统计数据-->
	<select id="countByDoctorId" resultType="int">
		select count(*) from click_count_doctor WHERE doctor_id = #{doctorId}
	</select>

	<!--统计本周数据-->
	<select id="countThisWeek" resultType="int">
	SELECT count(*) FROM click_count_doctor
		WHERE YEARWEEK(date_format(submittime,'%Y-%m-%d')) = YEARWEEK(now()) AND doctor_id = #{doctorId};
	</select>



	<insert id="save" parameterType="com.prostate.user.entity.ClickCountDoctorDO">
		insert into click_count_doctor
		(
			`id`, 
			`doctor_id`, 
			`click_status`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{doctorId}, 
			#{clickStatus}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.prostate.user.entity.ClickCountDoctorDO">
		update click_count_doctor 
		<set>
			<if test="doctorId != null">`doctor_id` = #{doctorId}, </if>
			<if test="clickStatus != null">`click_status` = #{clickStatus}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from click_count_doctor where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from click_count_doctor where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>