<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.dao.read.CityReadMapper">

	<select id="get" resultType="com.prostate.base.domain.CityDO">
		select `id`,`parent_city_id`,`city_name`,`city_type`,`order_weight`,`create_user`,`create_time`,`city_weight`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag`
		from base_city where id = #{value} AND del_flag = '0'
	</select>

	<!--新增根据子id查询父id的信息-->
	<select id="getParent" resultType="com.prostate.base.domain.CityDO">
		SELECT
		p.id,p.parent_city_id , p.city_name , p.city_type , p.order_weight , p.create_user ,
		p.create_time , p.city_weight , p.update_user , p.update_time , p.delete_user , p.delete_time , p.del_flag
		FROM base_city p,base_city s WHERE  s.id = #{value} and p.id = s.parent_city_id AND p.del_flag = '0'
	</select>

	<!--新增根据父id查询子的信息-->
	<select id="getChild" resultType="com.prostate.base.domain.CityDO">
		select `id`,`parent_city_id`,`city_name`,`city_type`,`order_weight`,`create_user`,`create_time`,`city_weight`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag` from base_city
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentCityId != null and parentCityId != ''"> and parent_city_id = #{parentCityId} </if>
			<if test="cityName != null and cityName != ''"> and city_name = #{cityName} </if>
			<if test="cityType != null and cityType != ''"> and city_type = #{cityType} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="cityWeight != null and cityWeight != ''"> and city_weight = #{cityWeight} </if>
			<if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			and del_flag = '0'
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<!--&lt;!&ndash;根据区县id查询所有的信息&ndash;&gt;-->
	<!--<select id="getDetails" resultType="com.prostate.base.vo.CityVO">-->
	<!--p.city_name provinceName,p.`id` provinceId,c.city_name cityName,c.`id` cityId,q.city_name countyName,q.id  countyId-->
	<!--FROM base_city p,base_city c,base_city q-->
	<!--WHERE q.`parent_city_id` = c.`id` AND c.`parent_city_id` = p.`id` AND q.`id` = #{value} AND q.del_flag = '0'-->
	<!--</select>-->

	<select id="list" resultType="com.prostate.base.domain.CityDO">
		select `id`,`parent_city_id`,`city_name`,`city_type`,`order_weight`,`create_user`,`create_time`,`city_weight`,`update_user`,`update_time`,`delete_user`,`delete_time`,`del_flag` from base_city
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentCityId != null and parentCityId != ''"> and parent_city_id = #{parentCityId} </if>
			<if test="cityName != null and cityName != ''"> and city_name = #{cityName} </if>
			<if test="cityType != null and cityType != ''"> and city_type = #{cityType} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="cityWeight != null and cityWeight != ''"> and city_weight = #{cityWeight} </if>
			<if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			and del_flag = '0'
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from base_city
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentCityId != null and parentCityId != ''"> and parent_city_id = #{parentCityId} </if>
			<if test="cityName != null and cityName != ''"> and city_name = #{cityName} </if>
			<if test="cityType != null and cityType != ''"> and city_type = #{cityType} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="cityWeight != null and cityWeight != ''"> and city_weight = #{cityWeight} </if>
			<if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			and del_flag = '0'
		</where>
	</select>

	<insert id="save" parameterType="com.prostate.base.domain.CityDO">
		insert into base_city
		(
			`id`,
			`parent_city_id`,
			`city_name`,
			`city_type`,
			`order_weight`,
			`create_user`,
			`create_time`,
			`city_weight`,
			`update_user`,
			`update_time`,
			`delete_user`,
			`delete_time`,
			`del_flag`
		)
		values
		(
			#{id},
			#{parentCityId},
			#{cityName},
			#{cityType},
			#{orderWeight},
			#{createUser},
			#{createTime},
			#{cityWeight},
			#{updateUser},
			#{updateTime},
			#{deleteUser},
			#{deleteTime},
			#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.prostate.base.domain.CityDO">
		update base_city
		<set>
			<if test="parentCityId != null">`parent_city_id` = #{parentCityId}, </if>
			<if test="cityName != null">`city_name` = #{cityName}, </if>
			<if test="cityType != null">`city_type` = #{cityType}, </if>
			<if test="orderWeight != null">`order_weight` = #{orderWeight}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="cityWeight != null">`city_weight` = #{cityWeight}, </if>
			<if test="updateUser != null">`update_user` = #{updateUser}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleteUser != null">`delete_user` = #{deleteUser}, </if>
			<if test="deleteTime != null">`delete_time` = #{deleteTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from base_city where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from base_city where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>