<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.mapper.read.IllnessReadMapper">

	<resultMap id="BaseResultMap" type="com.prostate.base.domain.IllnessDO">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="illness_name" jdbcType="VARCHAR" property="illnessName" />
		<result column="illness_number" jdbcType="VARCHAR" property="illnessNumber" />
		<result column="order_weight" jdbcType="INTEGER" property="orderWeight" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_user" jdbcType="VARCHAR" property="updateUser" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, illness_name,illness_number, order_weight, create_user, create_time, update_user, update_time
	</sql>

	<select id="get" resultType="com.prostate.base.domain.IllnessDO">
		select <include refid="Base_Column_List" />
		from base_illness where id = #{value}
	</select>

	<select id="list" resultType="com.prostate.base.domain.IllnessDO">
		select <include refid="Base_Column_List" /> from base_illness
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="illnessName != null and illnessName != ''"> and illness_name  LIKE CONCAT(CONCAT('%', #{illnessName}), '%')  </if>
		  		  <if test="illnessNumber != null and illnessNumber != ''"> and illness_number = #{illnessNumber} </if>
		  		  <if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
		  		  <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
					and del_flag = '0'
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by order_weight
            </when>
			<otherwise>
                order by order_weight ASC
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="listByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_illness
		where del_flag = '0'
		AND illness_name = #{id,jdbcType=VARCHAR}
	</select>

	<select id="listByNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from base_illness
		where del_flag = '0'
		AND illness_number = #{id,jdbcType=VARCHAR}
	</select>


 	<select id="count" resultType="int">
		select count(*) from base_illness
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="illnessName != null and illnessName != ''"> and illness_name LIKE CONCAT(CONCAT('%', #{illnessName}), '%')  </if>
		  		  <if test="illnessNumber != null and illnessNumber != ''"> and illness_number = #{illnessNumber} </if>
		  		  <if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
		  		  <if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			 		and del_flag = '0'
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.prostate.base.domain.IllnessDO">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			select replace(uuid(), '-', '') as id from dual
		</selectKey>
		insert into base_illness
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>

			<if test="illnessName != null">
				illness_name,
			</if>
			<if test="illnessNumber != null">
				illness_number,
			</if>
			<if test="orderWeight != null">
				order_weight,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="deleteUser != null">
				delete_user,
			</if>
			<if test="deleteTime != null">
				delete_time,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="illnessName != null">
				#{illnessName,jdbcType=VARCHAR},
			</if>
			<if test="illnessNumber != null">
				#{illnessNumber,jdbcType=VARCHAR},
			</if>
			<if test="orderWeight != null">
				#{orderWeight,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteUser != null">
				#{deleteUser,jdbcType=VARCHAR},
			</if>
			<if test="deleteTime != null">
				#{deleteTime,jdbcType=TIMESTAMP},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=CHAR},
			</if>
		</trim>
	</insert>


	<update id="update" parameterType="com.prostate.base.domain.IllnessDO">
		update base_illness 
		<set>
			<if test="illnessName != null">`illness_name` = #{illnessName}, </if>
			<if test="illnessNumber != null">`illness_number` = #{illnessNumber}, </if>
			<if test="orderWeight != null">`order_weight` = #{orderWeight}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateUser != null">`update_user` = #{updateUser}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleteUser != null">`delete_user` = #{deleteUser}, </if>
			<if test="deleteTime != null">`delete_time` = #{deleteTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>

	<!--基本不用-->
	<delete id="remove">
		delete from base_illness where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from base_illness where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>