<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mapping.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prostate.base.mapper.read.ScaleManagerReadMapper">

	<resultMap id="BaseResultMap" type="com.prostate.base.domain.ScaleDO">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="parent_id" jdbcType="VARCHAR" property="parentId" />
		<result column="scale_title" jdbcType="VARCHAR" property="scaleTitle" />
		<result column="scale_score" jdbcType="VARCHAR" property="scaleScore" />
		<result column="scale_type" jdbcType="CHAR" property="scaleType" />
		<result column="scale_weight" jdbcType="INTEGER" property="scaleWeight" />
		<result column="order_weight" jdbcType="INTEGER" property="orderWeight" />
		<result column="create_user" jdbcType="VARCHAR" property="createUser" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
		<result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
		<result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		id AS  id,
		parent_id AS  parentId,
		scale_title AS  scaleTitle,
		scale_score AS  scaleScore,
		scale_type AS  scaleType,
		scale_weight AS  scaleWeight,
		order_weight AS  orderWeight,
		create_user AS  createUser,
		create_time AS  createTime,
		delete_user AS  deleteUser,
		delete_time AS  deleteTime,
		del_flag AS delFlag
	</sql>



	<select id="list" resultType="com.prostate.base.domain.ScaleDO">
		select <include refid="Base_Column_List"/> from base_scale
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="scaleTitle != null and scaleTitle != ''"> and scale_title = #{scaleTitle} </if>
			<if test="scaleScore != null and scaleScore != ''"> and scale_score = #{scaleScore} </if>

			<if test="scaleWeight != null and scaleWeight != ''"> and scale_weight = #{scaleWeight} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			AND del_flag='0'
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by order_weight
			</when>
			<otherwise>
				order by order_weight ASC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="get" resultType="com.prostate.base.domain.ScaleDO">
		select <include refid="Base_Column_List"/> from base_scale where id = #{value}
		AND del_flag='0'
	</select>

	<select id="getTree" resultType="com.prostate.base.domain.ScaleDO">
		select <include refid="Base_Column_List"/> from base_scale
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="scaleTitle != null and scaleTitle != ''"> and scale_title = #{scaleTitle} </if>
			<if test="scaleScore != null and scaleScore != ''"> and scale_score = #{scaleScore} </if>
			 and (scale_type='a' OR scale_type='c' OR scale_type='b' OR scale_type='1' )
			<if test="scaleWeight != null and scaleWeight != ''"> and scale_weight = #{scaleWeight} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			AND del_flag='0'
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by order_weight
			</when>
			<otherwise>
				order by order_weight ASC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from base_scale
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="scaleTitle != null and scaleTitle != ''"> and scale_title = #{scaleTitle} </if>
			<if test="scaleScore != null and scaleScore != ''"> and scale_score = #{scaleScore} </if>
			<if test="scaleType != null and scaleType != ''"> and scale_type = #{scaleType} </if>
			<if test="scaleWeight != null and scaleWeight != ''"> and scale_weight = #{scaleWeight} </if>
			<if test="orderWeight != null and orderWeight != ''"> and order_weight = #{orderWeight} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="deleteUser != null and deleteUser != ''"> and delete_user = #{deleteUser} </if>
			<if test="deleteTime != null and deleteTime != ''"> and delete_time = #{deleteTime} </if>
			and del_flag = '0'
		</where>
	</select>

	

</mapper>